* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  background-color: #16151b;
  font-family: "Inter", sans-serif;
}

.card {
  color: white;
  margin: 40px 10px;
  position: relative;

  &:hover .info {
    opacity: 1;
    cursor: pointer;
  }
}

.cover {
  width: 340px;
  height: 500px;
}

.info {
  position: absolute;
  top: 0;
  width: 340px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.938);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 30px;
  opacity: 0;
  overflow: auto;
}

.film_descr {
  margin-top: 100px;
}

h1 {
  font-weight: 900;
  font-size: 26px;
  margin-top: 80px;
}

h2 {
  font-size: 18px;
}

.stars {
  display: flex;
  color: #fbeb5a;
}

.language_flag {
  width: 50px;
  margin: 30px 0;
}
